$primary: #28a745;

* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($primary, 0);
    box-shadow: inset 0 0 6px rgba($primary, 0);
    background-color: transparent;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($primary, 0.7);
    border-radius: 10px;
    &:active {
      background-color: $primary;
    }
  }
}
